<style>

   #cat{
    background:black;
    color:white;
   }
   #cat_wrapper{
    background:lightblue;
    color: white;
   }
   #cat_paginate{
    max-height: 40px;
    margin: 10px 10px;
   
}
#cat_info{
    color: black;
}
#cat_previous{
    background-color: black !important;
    color:blue !important;

}
.fg-button{
    color: black;
}
#cat_next{
    background-color: yellow !important;
    color: white !important;
}
</style>
<div class="container-fluid  pt-4 px-4" >
    <div class="row g-4">
        <div class="  col-xl-2 ">

        </div>
        <div class="col-sm-12 col-xs-12   col-xl-10">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Categories</h6>
                <table id="cat" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                     
                           
                                <% for(i=0;i<cate.length;i++){%>
   
                                    <tr>
                                <th scope="row"><%= i+1 %> </th>
                                <td><%= cate[i].name %> </td>
                                <td><%= cate[i].description %> </td>
                                <td><img src="<%=cate[i].image %> " width="100px" height="auto" alt=""/></td>
                                <td>
                                    <a href="/admin/editCategory?id=<%= cate[i]._id %>  " class="btn btn-success">Edit</a>   
                                </td>
                                <td><a href="/admin/delCategory/<%= cate[i]._id %> " onclick="return confirm('Are u sure?')" class="btn btn-danger">Delete</a></td>
                            </tr>
                                <%} %> 
                           
                            
                        
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>

  

    <script>
   $(document).ready(function () {
  $('#cat').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
    </script>


