<style>
    #user{
     background:black;
     color:white;
    }
    #user_wrapper{
     background:lightblue;
     color: white;
    }
 </style>

<div class="container-fluid  pt-4 px-4" >
    <div class="row g-4">
        <div class="  col-xl-2">

        </div>
        <div class="col-sm-12   col-xl-10">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Users</h6>
                <table id="user" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0;i<userlist.length;i++){%>
                            <tr>
                                <th scope="row"><%= i+1 %> </th>
                                <td><%= userlist[i].name %> </td>
                                <td><%= userlist[i].email  %> </td>
                                <td><%= userlist[i].phone  %></td>
                                <% if(userlist[i].access){%>
                                      <td><a href="/admin/block/<%=userlist[i]._id  %>" style="width: 100px;" class="btn btn-danger">Block</a></td>
                               <% }  else{%>
                              
                                <td><a href="/admin/unblock/<%=userlist[i]._id  %> " style="width: 100px;" class="btn btn-success">Unblock</a></td>
                               <%} %> 
                            </tr>
                            <%} %> 
                        
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>
        <script>
            $(document).ready(function () {
           $('#user').DataTable();
           $('.dataTables_length').addClass('bs-select');
         });
             </script>