<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="card" id="invoice">
    <div class="card-body">
      <div class="container mb-5 mt-3">
        <div class="row d-flex align-items-baseline">
          <div class="col-xl-9">
            <p style="color: #7e8d9f;font-size: 20px;">Invoice >> <strong>ID: #<%= orderDetials._id %></strong></p>
          </div>
          <div class="col-xl-3 float-end">
            <a id="download-button" class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
                class="fas fa-print text-primary"></i> Print</a>
            <!-- <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i
                class="far fa-file-pdf text-danger"></i> Export</a> -->
          </div>
          <hr>
        </div>
  
        <div class="container">
          <div class="col-md-12">
            <div class="text-center">
              <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
              <p class="pt-0">Your Invoice.</p>
            </div>
  
          </div>
  
  
          <div class="row">
            <div class="col-xl-8">
              <ul class="list-unstyled">
                <li class="text-muted">To: <span style="color:#5d9fc5 ;"><%= finalAddress.name %></span></li>
                <li class="text-muted"><%= finalAddress.house %>,<%= finalAddress.landmark %><br><%= finalAddress.city %><br><%= finalAddress.district %>
                    <%= finalAddress.pincode %></li>
                <li class="text-muted">State, Country</li>
                <li class="text-muted"><i class="fas fa-phone"></i><%= finalAddress.mob %></li>
              </ul>
            </div>
            <div class="col-xl-4">
              <p class="text-muted">Invoice</p>
              <ul class="list-unstyled">
                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                    class="fw-bold">ID:</span>#<%= orderDetials._id %></li>
                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                    class="fw-bold">Creation Date: </span><%= orderDetials.date.toLocaleString() %> </li>
                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                    class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                    <%= orderDetials.orderStatus %></span></li>
              </ul>
            </div>
          </div>
  
          <div class="row my-2 mx-1 justify-content-center">
            <table class="table table-striped table-borderless">
              <thead style="background-color:#84B0CA ;" class="text-white">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Brand</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Image</th>
                  <th scope="col">Description</th>
                  <th scope="col">Size</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <% orderDetials.cart.items.forEach((x,i)=>{ %>

              
                <tr>
                  <th scope="row"><%= i+1 %></th>
                  <td><%= x.product_id.title %></td>
                  <td><%= x.product_id.brand %></td>
                  <td><%= x.product_id.price %></td>
                  <td><img src="<%= x.product_id.image[0]%>" width="100px" height="auto" alt=""></td>
                  <td><%= x.product_id.description %></td>
                  <td><%= x.product_id.size %></td>
                  <td><%= x.qty %></td>
                </tr>
                <%  }) %> 
              </tbody>
  
            </table>
          </div>
          <div class="row">
            <!-- <div class="col-xl-8">
              <p class="ms-3">Add additional notes and payment information</p>
  
            </div> -->
            <div class="col-xl-3">
              <ul class="list-unstyled">
                <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>$<%= orderDetials.cart.totalPrice %> </li>
                <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Payment Method:</span><%= orderDetials.paymentMethod %></li>
              </ul>
              <p class="text-black float-start"><span class="text-black me-3"> Total Amount</span><span
                  style="font-size: 25px;">$<%= orderDetials.cart.totalPrice %> </span></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xl-10">
              <p>Thank you for your purchase</p>
            </div>
            <!-- <div class="col-xl-2">
              <button type="button" class="btn btn-primary text-capitalize"
                style="background-color:#60bdf3 ;">Pay Now</button>
            </div> -->
          </div>
  
        </div>
      </div>
    </div>
  </div>

  <script>
    const button = document.getElementById('download-button');

    function generatePDF() {
        // Choose the element that your content will be rendered to.
        const element = document.getElementById('invoice');
        // Choose the element and save the PDF for your user.
        html2pdf().from(element).save();
    }

    button.addEventListener('click', generatePDF);
</script>